*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release
/hidden-api-stub/bin
/app-mirror/libs/orbit-sources.jar
/binary_cache
/perf.data
/python3
/report.html
/thread_dump.txt
/app-mirror/src/main/assets/.idea
/.vscode/
/keystore_base64.txt
/release.jks
/app-mirror/src/main/assets/streamer
/app-mirror/src/main/jniLibs/arm64-v8a/libstreamer.so
/app-mirror/src/main/jniLibs/arm64-v8a/libweb-server.so
/app-mirror/libs
/app-mirror/src/main/jniLibs/arm64-v8a/libnpc.so
/app-mirror/src/main/jniLibs/arm64-v8a/librclone.so
