[submodule "connect-screen.com"]
	path = connect-screen.com
	url = https://github.com/taowen/connect-screen.com.git
[submodule "termux-x11"]
	path = termux-x11
	url = https://github.com/termux/termux-x11.git
[submodule "app-mirror/src/main/cpp/dependencies/libwordexp"]
	path = app-mirror/src/main/cpp/dependencies/libwordexp
	url = https://github.com/leleliu008/libwordexp.git
[submodule "app-mirror/src/main/cpp/dependencies/moonlight-common-c"]
	path = app-mirror/src/main/cpp/dependencies/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c.git
